.App {
	text-align: center;
	background-color: #262833;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

h2,
label {
	color: #FFFFFF;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
	color: #FFFFFF;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
	color: #4ACFAC;
	background-color: #262833;
}

h4, h3 {
	color: #c297c4;
	background-color: #262833;
}

button {
	background-color: #393c4a;
	/* Green */
	border: none;
	color: white;
	padding: 4px 8px;
	margin: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    cursor: pointer;
}

.changes ul {
	list-style-type: none;
	padding: 0;
}
  
.changes ul li {
	color: white;
}